In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

 # Import Data

In [2]:
path = r'C:\Users\s.wienecke\Documents\Fortbildung\Instacart Basket Analysis'

In [3]:
# df_ords_prior stands for products.csv 
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
# df stands for order.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_orders_clean.csv'), index_col = False)

# Check dimensions

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order
0,1,1,2398795,1,prior,2,3,7,15.0
1,2,2,473747,1,prior,3,3,12,21.0
2,3,3,2254736,1,prior,4,4,7,29.0
3,4,4,431534,1,prior,5,4,15,28.0
4,5,5,3367565,1,prior,6,2,7,19.0

In [8]:
df_ords.shape

(3214874, 9)

# Merging Your Instacart Data

In [9]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [11]:
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting Data in Pickle Format

In [12]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))